# Set default values for all following accounts.
defaults
auth           on
tls            on
tls_starttls   on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.msmtp.log

account        default
host           {{mail_server}}
port           {{smptp_port}}
from           {{host_mail_addr}}
user           {{host_mail_user}}
password {{mail_passwd}}
