{
    "experimental": true,
    "fixed-cidr-v6": "fd00:dead:beef:c0::/80",
    "ip6tables": true,
    "ipv6": true,
    "log-driver": "json-file",
    "log-opts": {
        "max-file": "10",
        "max-size": "10m"
    },
    "storage-driver": "{{ docker_storage_driver }}"
}