[Interface]
Address={{ wg_addr }}
{% if wg_listenport | bool %}
ListenPort=51871
{% endif %}
PrivateKey={{ wg_privkey }}


{% for peer in wg_peers %}
[Peer]
#{{ peer.Name }}
PublicKey={{ peer.PublicKey }}
AllowedIPs={{ peer.AllowedIPs }}
PersistentKeepalive={{ peer.PersistentKeepalive }}
{% if peer.Endpoint | default(false) | bool %}
Endpoint= {{ peer.Name }}:51871
{% endif %}

{% endfor %}
