# The full path to the sendmail command.
# If empty, the system $PATH will be searched for it.
# If not found, email notifications will be disabled (silently).
sendmail="/usr/bin/msmtp"

SEND_EMAIL="YES"
DEFAULT_RECIPIENT_EMAIL="{{monitoring_recipient}}"
role_recipients_email[sysadmin]="${DEFAULT_RECIPIENT_EMAIL}"
